<div class="d-flex justify-content-center new-crawl-bars-map">
  <div
    class="card mx-5 mt-2"
    style="overflow:hidden; border-radius: 35px; width:1250px"
  >
    <%= render "shared/map", markers: markers %>
  </div>
</div>

<div data-controller="reload" data-reload-bars-value=<%= @filtered_bars_ids.to_json %>>
  <%# @filtered_bars.each_with_index do |bar, i| %>

    <%= render "barcards_regeneration", filtered_bars: filtered_bars %>

    <div class="d-flex justify-content-center my-2">
      <%# <button type="button" class="btn btn-primary mx-2">Confirm</button> %>
      <%= form_with model: @crawl do |f| %>
        <div class="d-none">
          <%= f.hidden_field(:bars, value: filtered_bars.map(&:id)) %>
          <%= f.label :crawl_name %>
          <%= f.text_field :crawl_name, value: "#{current_user.username.capitalize}'s BarHop" %>
          <%= f.label :completed %>
          <%= f.text_field :completed, value: false %>
          <%= f.label :public %>
          <%= f.text_field :public, value: false %>
          <%= f.label :date %>
          <%= f.date_field :date, value: Date.parse("Sat, 24 Jun 2023") %>
        </div>
        <%= f.submit "Save your BarHop", class: "btn btn-primary mx-2" %>
      <% end %>
      <button type="button" data-action="click->reload#generate" class="btn btn-secondary active-tab">Regenerate</button>
    </div>
    <%# end %>
  </div>
</div>
