
<div class="d-flex justify-content-center">
  <div class="card mx-5 mt-2" style="overflow:hidden; border-radius: 35px; width:1250px">
    <%= render "shared/map" %>
  </div>
</div>

<h5 class="mt-2" style="text-align: center">Select your favorite bars</h5>

  <div class="mt-4 container barcards-container">
    <% @filtered_bars.each do |bar| %>
      <%= render "shared/barcards", bar: bar %>
    <% end %>
  </div>

 <div class="d-flex justify-content-center my-2" data-controller="reload">
  <%# <button type="button" class="btn btn-primary mx-2">Confirm</button> %>

    <%= form_with model: @crawl do |f| %>
    <div class="d-none">
      <%= f.hidden_field(:bars, value: @filtered_bars.map(&:id)) %>
      <%= f.label :crawl_name %>
      <%= f.text_field :crawl_name, value: "test" %>
      <%= f.label :completed %>
      <%= f.text_field :completed, value: false %>
      <%= f.label :public %>
      <%= f.text_field :public, value: false %>
      <%= f.label :date %>
      <%= f.date_field :date, value: Date.parse('Sat, 24 Jun 2023') %>
    </div>
    <%= f.submit 'Confirm your crawl', class: "btn btn-primary mx-2" %>
  <% end %>


  <button type="button" data-action="click->reload#reload" class="btn btn-secondary">Regenerate</button>
</div>
