<h3 class="text-center m-2"><%= @crawl.crawl_name%></h3>
<div class="d-flex justify-content-center">
  <div class="card mx-5 mt-2" style="overflow:hidden; border-radius: 35px; width:1250px">
    <%= render "shared/map" %>
  </div>
</div>

<div class="mt-4 container barcards-container">
  <% @crawl.bars.each do |bar| %>
    <%= render "crawls/barcards", bar: bar %>
  <% end %>
</div>

<div class="d-flex justify-content-center my-2" data-controller="reload">
  <%# <button type="button" class="btn btn-primary mx-2">Confirm</button> %>
  <%= form_with model: Crawl.new do |f| %>
    <%= f.hidden_field(:existing_crawl, value: true) %>
      <%# <form action="/crawls" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="fnUpUlGoAWrO2okRT6MV04lSTxgy9__3M5jugDDE9Sm4ppauZ6Nl6bktKlb1q-yzgERXcBoix3I96irFbIyjjA" autocomplete="off"> %>
    <div class="d-none">
      <input value= "<%= @crawl.crawlbar_ids %>" autocomplete="off" type="hidden" name="crawl[bars]" id="crawl_bars">
      <label for="crawl_crawl_name">Crawl name</label>
      <input value="<%= @crawl.crawl_name %>" type="text" name="crawl[crawl_name]" id="crawl_crawl_name">
      <label for="crawl_completed">Completed</label>
      <input value="false" type="text" name="crawl[completed]" id="crawl_completed">
      <label for="crawl_public">Public</label>
      <input value="false" type="text" name="crawl[public]" id="crawl_public">
      <label for="crawl_date">Date</label>
      <input value="2023-06-24" type="date" name="crawl[date]" id="crawl_date">
    </div>
    <input type="submit" name="commit" value="Save this BarHop" class="btn btn-primary mx-2" data-disable-with="Save this BarHop">
  <%# </form> %>
  <% end %>

<%= link_to "Back to BarHops", crawls_path, class:"active-tab" %>

</div>
