<div class="container" data-controller="favourites">
  <div class="row align-items-center py-4 border-bottom border-black">
    <div class="col">
      <h1 class="d-flex justify-content-start ">Welcome <%= current_user.username.capitalize%>👋</h1>
    </div>
    <div class="col text-end mb-1 fs-5">
      <%# <a href="#" class="p-3">Badges</a> %>
      <button data-action="click->favourites#hideShowFavourites" data-favourites-target="favouriteBarsButton" class="btn btn-outline-primary">Favourite Bars 🍾 </button>
      <button data-action="click->favourites#hideShowSavedBarhops" data-favourites-target="savedBarsButton" class="btn btn-outline-primary active-button">Saved BarHops ✨</button>
      <button class="btn btn-outline-primary">Friends 👽</button>
    </div>
  </div>
  <div data-favourites-target="savedBarhops">
    <h2 class="m-3">Your BarHops:</h2>
    <% @crawls.each_with_index do |crawl, i| %>
      <div class="card mb-3 rounded-30" style="overflow: hidden;" >
        <h4 class="card-title dashboard-header"><%= crawl.crawl_name %></h4>
        <div class="d-flex justify-content-between ps-1 pe-3">
          <div class="dashboard-container">
            <% crawl.bars.each do |bar| %>
              <div class="dashboard-card rounded m-2">
                <img src="<%= bar.image_url %>" alt="" class="" style="; height: 100%">
                <p class=""><strong><%= bar.name %></strong></p>
                <%= form_with model: @favourite, url: bar_favourites_path(bar) do |f| %>
                <div class="d-none">
                  <%= f.hidden_field(:bar, value: bar) %>
                </div>
                <button class="btn btn-outline-primary" type="submit" name="commit" data-disable-with="Favourite"><i class="fa-solid fa-heart"></i></button>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="card ms-3 bg-white rounded-30" style="overflow: hidden;">
            <%= render "shared/dashboard_map", info:@all_info[i] %>
          </div>
        </div>
        <div class="card-footer bg-white border-0 d-flex justify-content-center">
          <button class="active-tab btn btn-outline-primary" style="border: none"><i class="fa-solid fa-angle-down"></i></button>
        </div>
      </div>
    <% end %>
  </div>
  <div data-favourites-target="favouriteBars" class="container d-none">
    <div class="row">
      <% @bars.uniq.each do |bar| %>
        <div class="card px-0 bg-white rounded-30 m-2 col-3">
          <%= image_tag bar.image_url, style:"height: 100px; object-fit: cover; border-radius:30px 30px 0px 0px", alt:"Bar card image", class:"card-img-top card-image" %>
          <div class="card-body">
            <h5 class="card-title"><strong><%= bar.name %></strong></h5>
            <% if bar.description.length > 90 %>
            <p class="card-text"><%= bar.description.truncate(75, omission: '') %>...</p>
            <% else %>
            <p class="card-text"><%= bar.description %></p>
            <% end %>
            <h6><strong><% bar.price_range.to_i.times do %>£<% end %></strong></h6>
            <h6><% bar.rating.to_i.times do  %>
              <i class="fa-solid fa-star fa-lg" style="color:#ffdd00"> <span class="icon-text"></span></i>
            <% end %>
            </h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
